<html>
<head>
  <title>Woodlands Admin</title>
  <link rel="stylesheet" type="text/css" href="style.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script>
    if(window.opener) {
      window.opener.location.href = '/connected'
      window.close()
    }
    function doQueryQB() {
      $("#result").html('Processing QB Query (' + $("#qbQuery").val() + ')...')
      $.get("/api/queryQB?sql="+$("#qbQuery").val(), function(data) {
        $("#result").html(JSON.stringify(data, null, 2))
      })

    }
    function importWST() {
      $("#result").html('Processing Swimtopia import...')
      $.get("/api/import/wst?filename="+$("#wstFileName").val(), function(data) {
        $("#result").html(JSON.stringify(data, null, 2))
      })
    }
    function invoiceWST() {
      $("#result").html('Processing WST Registration for invoicing...')
      $.get("/api/invoice/wst", function(data) {
        $("#result").html(JSON.stringify(data, null, 2))
      })
    }
    function invoiceCC() {
      $("#result").html('Processing CC Registration for invoicing...')
      $.get("/api/invoice/cc", function(data) {
        $("#result").html(JSON.stringify(data, null, 2))
      })
    }
  </script>
</head>
<body>
  <a href="/">Home</a>
  <h3>Woodlands Admin Console</h3>
  <p>Woodlands admin allows you to import WST Registration csv files exported from Swimtopia and/or process invoicing
    creating required invoices in QuickBooks Online.
  </p>
  <div>
    <div>
      <label for="wstFileName">WST registration file to import: </label>
      <input type="text" id="wstFileName" name="wstFileName">
      <button onclick="importWST()">Import WST Registrations</button>
    </div>
    <div><button onclick="invoiceWST()">Process WST Registration Invoicing</button></div>
    <div><button onclick="invoiceCC()">Process CC Registration Invoicing</button></div>
    <div>
        <label for="qbQuery">Query for QuickBooks: </label>
        <input type="text" id="qbQuery" name="qbQuery">
        <button onclick="doQueryQB()">Query Quickbooks</button>
    </div>
      <br><br>
      <div><code id="result"></code></div>
</body>
</html>
